#!/bin/bash
export CM_CLUSTER=
export CM_VERSION=v14
export CM_SERVER=
export CM_ADMIN=admin
export CM_PASS=$(cat admin.pass)
export CM_DB_HOST=
export CM_DB_PORT=3306
export TLS_ENABLED=true
if [ "$TLS_ENALBED" = true ]; then
  export CM_PORT=7180
  export CURL_CMD=curl
  export HTTP_PROTOCOL=http
else
  export CM_PORT=7183
  export CURL_CMD='curl -k'
  export HTTP_PROTOCOL=https
fi
